﻿@using WheelOfFateRota.Business

@model IEnumerable<ShiftView>

@{
    ViewBag.Title = "Home Page";
}

<h1>Rota</h1>

<p>
    This is the Rota view that appears on the homepage. A gap is shown for the weekend and holidays appear as empty rows.<br />
    <strong>Holidays have been added as an example that are NOT actual UK bank holidays.</strong><br />
    The rota is generated for 20 total working days.

</p>

@Html.ActionLink("Get a new rota", "Index", new { clear = true }, new { @class="btn btn-primary", onclick = "return confirm('Are you sure you wish to clear the original rota and create a new one?');" })

@* Tables aren't cool anymore as they are not very responsive, 
    however when you need a small table displayed I find a html table fit for purpose as long as it displays OK on Mobile
  * We will utilise the already included Bootstrap styling as it's perfectly adaquet*@
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Shift AM</th>
            <th>Shift PM</th>
        </tr>
    </thead>
    @{ 
        var startDate = Model.First().Date;
        string dateFormat = "ddd dd/MM/yy";
    }
    @foreach (var rotaShift in Model)
    {
        var currentDate = rotaShift.Date;
        
        var previousWorkingDate = rotaShift.Date.GetPreviousWorkingDay();

        do
        {
            previousWorkingDate = previousWorkingDate.AddDays(1);

            if (previousWorkingDate.DayOfWeek == DayOfWeek.Saturday)
            {
                <tr><td></td><td></td><td></td></tr>
            }

            if (previousWorkingDate.IsHoliday())
            {
                <tr><td>@previousWorkingDate.ToString(dateFormat) - Holiday</td><td></td><td></td></tr>
            }
        }
        while (previousWorkingDate != currentDate);        

        <tr>
            <td>@currentDate.ToString(dateFormat)</td>
            <td>@rotaShift.ShiftStaffMemberAM.Name</td>
            <td>@rotaShift.ShiftStaffMemberPM.Name</td>
        </tr>
    }
</table>