﻿
@model IEnumerable<WheelOfFateRota.Business.StaffView>

@{
    ViewBag.Title = "Home Page";
}

<h1>Staff</h1>

@* Tables aren't cool anymore as they are not very responsive, 
    however when you need a small table displayed I find a html table fit for purpose as long as it displays OK on Mobile
  * We will utilise the already included Bootstrap styling as it's perfectly adaquet*@
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Active</th>
        </tr>
    </thead>
    @foreach (var staff in Model)
    {
        <tr>
            <td>@staff.Id</td>
            <td>@staff.Name</td>
            <td>@Html.CheckBoxFor(x => staff.IsActive, new { @disabled = "disabled" })</td>
        </tr>
    }
</table>